.padding-top-10{
  padding-top: 10px!important;
} 

.padding-top-30{
  padding-top: 30px!important;
} 

.padding-all-5{
  padding:5%!important
}

.font-size-30{
  font-size: 2em!important;
}

.light-weight{
  font-weight: 300!important;
}

.margin-top-10{
  margin-top: 10%;
}
.margin-top-15{
  margin-top: 15%;
}

.margin-top-2{
  margin-top: 2%;
}

.margin-top-5{
  margin-top: 5%;
}

.margin-bottom-2{
  margin-bottom: 2%;
}

.margin-bottom-5{
  margin-bottom: 5%;
}