@media screen and (max-width: 640px) {
  .base-line {
    font-size: 22px!important;
    
  }

  .arrow-down{
    margin-top: 10%;
  }


}


@media screen and (max-width: 1200px) {
  .arrow-down {
    margin-top: 3%;
    
  }


}




.img-style-2{
  padding: 0px!important;
}


p#logo{
  font-family: 'coneria_script_demoregular';
  font-size: 48px;
}
.h2-style-2{
  font-family: 'robotolight'!important;
  font-size: 25px!important;
}

.form-waiting-page p{
    font-family: 'robotolight';
    font-size: 24px;
}

h3{
   font-family: 'robotolight' !important;
    font-size: 24px !important;
}

.my-black{
  color: #212121;
}

.my-green{
  color: #27b399;
}

.base-line{
    /* letter-spacing: 0.1px; */
    line-height: 1.3;
    font-family: 'robotothin' !important;
}

textarea.form-control {
  height: auto;
  font-family: 'robotolight'!important;
}

.myform-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.myform-control2 {
  display: block;
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#footer{
  background-color: #e6e6e6;
  color: #212121;
  font-size: 11px;
  text-align: center;
  margin: 4% 0% 0% 0%;
  padding: 2% 0% 2% 0%;
}